body {
    background-color:  hsl(0, 0%, 98%);
    color: hsl(200, 15%, 8%); 
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
}


.nav-container {
    background-color: white;
    color: hsl(200, 15%, 8%);
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.searchFields {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

#search input {
    background-color: white;
    color: hsl(200, 15%, 8%);
    padding: 20px;
    width: 250px;
}

#search input::placeholder {
    color: hsl(0, 0%, 52%); /* Dark Gray */
}


#filter select {
    background-color: white;
    color: hsl(200, 15%, 8%);
    padding: 20px;
    width: 170px;
}

.country-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    padding: 20px;
  
}

.country-card {
    background-color: white;
    color: hsl(200, 15%, 8%);
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: transform 0.2s;
    width: 100%;
    max-width: 280px;

}

.country-card:hover {
    transform: scale(1.03);
}


.country-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;

}

.country-card .info {
    padding: 15px;
}

.country-card h3 {
    margin-left: 1px;
}

.country-card p {
    font-size: 14px;
}

/* Card Details */

#backBtn {
    margin: 50px;
    padding: 10px 20px;
    cursor: pointer;
    background: white;
    color: hsl(200, 15%, 8%);
    border: none;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

#backBtn:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 14px rgba(0,0,0,0.25);
}

.details-container {
    padding: 20px;
}

.details-card {
    display: flex;
    gap: 40px;
    background: white;
    color: hsl(200, 15%, 8%);
    padding: 30px;
    border-radius: 10px;
}

.details-card img {
    width: 350px;
    border-radius: 10px;
}

.details-info {
    font-size: 16px;
   
}


/* Card Border Details  */

.borders {
    margin-top: 20px;
}

#border-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.border-btn {
    padding: 6px 15px;
    background: white;
    color: hsl(200, 15%, 8%);
    border: none;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    cursor: pointer;
    transition: 0.2s ease;
}

.border-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
}

/* Toggle Light And Dark */


.dark-mode {
    background-color: hsl(207, 26%, 17%); 
    color: hsl(0, 0%, 100%); 
}

.dark-mode .nav-container,
.dark-mode .country-card,
.dark-mode .details-card,
.dark-mode #search input,
.dark-mode #filter select,
.dark-mode #backBtn,
.dark-mode .border-btn {
    background-color: hsl(209, 23%, 22%); 
    color: hsl(0, 0%, 100%); 
}

.dark-mode #search input::placeholder {
    color: hsl(0, 0%, 100%);
}

/* Media Queries */

@media (max-width: 768px) {
  .country-container {
    grid-template-columns: repeat(2, 1fr);
  }

   .searchFields {
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 480px) {
  .country-container {
    grid-template-columns: 1fr;
  }
  
   .details-card {
    flex-direction: column;
    text-align: center;
  }

  .details-card img {
    width: 100%;
  }

  .searchFields {
    flex-direction: column;
    gap: 10px;
  }

  #search input, 
  #filter select {
    width: 100%;
  }
}

img {
  width: 100%;
  height: auto;
}